configs/defaults.yaml
airway/configs/defaults.yaml
defaults.yaml
__pycache__
.pytest_cache
*.obj
*.csv
*.pyc
.idea
venv
logs
log
manual_classification
*.swp
*.swo
airway.egg-info
dist
/airway/example_data/stages/
/example_data/stages/
/build/
